/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "_colors";


@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NanumGothic';
	src: url('public/fonts/NanumGothic-Bold.ttf') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NanumGothic';
	src: url('public/fonts/NanumGothic-ExtraBold.ttf') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NanumGothic';
	src: url('public/fonts/NanumGothic-Regular.ttf') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'NG';
	src: url('/fonts/PlaywriteNGModern-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NG-thin';
	src: url('public/fonts/PlaywriteNGModern-Thin.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NG-light';
	src: url('public/fonts/PlaywriteNGModern-Light.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NG-2light';
	src: url('public/fonts/PlaywriteNGModern-ExtraLight.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'NanumGothic', sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: left;


	line-height: 1.7;
	margin: 0;
	padding: 0;
	background: $hunter-green;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: $magnolia;

}

h1 {
	font-family: 'NG-2light', sans-serif;
	font-weight: 800;
	letter-spacing: 0.001em;
	line-height: 1.625;
	font-size: 40px;
	padding-bottom: 1rem;
	cursor: context-menu;
}

@media (max-width: 900px) {
	h1 {
		font-size: 30px;
	}
}

p {
	letter-spacing: 0.01em;
	font-size: 24px;
}

@media (max-width: 900px) {
	p {
		font-size: 18px;
	}
}

main {
	width: 100%;
	max-width: calc(100% - 20em);
	margin: auto;
	padding: 3em 1em;
}

header {
	color: $hunter-green;
	font-family: 'NG', sans-serif;
	position: relative;
}

footer {
	font-family: 'NG', sans-serif;
	padding: 2em 0em 2em 0em;
	background: $magnolia;
	color: $hunter-green;
	text-align: center;
	position: relative;
}

@media (max-width: 1300px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
		max-width: calc(100% - 7em);
	}
}

@media (max-width: 800px) {
	main {
		max-width: calc(100% - 2em);
	}
}

@keyframes slideRight {
	from {
		transform: translateX(9rem);
	}

	to {
		transform: translateX(0rem);
	}
}

@keyframes rotate {

	0%,
	100% {
		transform: translateX(-0.3rem);
	}

	50% {
		transform: translateX(0rem);
	}
}

.slideRight {
	animation: slideRight 2s ease-out 1s;
}

.animate-rotate {
	animation: rotate 1s ease-out 2s infinite;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}