/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "_colors";

// Fonts

@font-face {
	font-family: 'NanumGothic';
	src: url('/fonts/NanumGothic-Bold.ttf') format('truetype');
	font-weight: 700; // Bold weight
	font-style: normal;
}

@font-face {
	font-family: 'NanumGothic';
	src: url('/fonts/NanumGothic-ExtraBold.ttf') format('truetype');
	font-weight: 800; // Extra Bold weight
	font-style: normal;
}

@font-face {
	font-family: 'NanumGothic';
	src: url('/fonts/NanumGothic-Regular.ttf') format('truetype');
	font-weight: 400; // Regular weight
	font-style: normal;
}

@font-face {
	font-family: 'PlaywriteNGModern';
	src: url('/fonts/PlaywriteNGModern-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'PlaywriteNGModern';
	src: url('/fonts/PlaywriteNGModern-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PlaywriteNGModern';
	src: url('/fonts/PlaywriteNGModern-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PlaywriteNGModern';
	src: url('/fonts/PlaywriteNGModern-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

// Layout

html {
	font-size: 16px; // Basis-Schriftgröße
}

body {

	text-align: left;
	font-family: 'NanumGothic', sans-serif;
	font-weight: 400; // Regular weight
	letter-spacing: 0.01em;
	font-size: 1rem;

	line-height: 1.7;
	margin: 0;
	padding: 0;
	background: $hunter-green;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: $magnolia;

}


main {
	width: 100%;
	margin: auto;
	padding: 4rem 2rem 4rem 2rem;
}

header {
	color: $hunter-green;
	background: $magnolia;
	position: relative;
	margin: 0;
	padding: 0 1em;
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

footer {
	padding: 2em 0em 2em 0em;
	background: $magnolia;
	color: $hunter-green;
	text-align: center;
	position: relative;
}


h1 {
	font-family: 'PlaywriteNGModern', sans-serif;
	font-weight: 400; // Regular weight
	letter-spacing: 0.001em;
	line-height: 1.625;
	padding-bottom: 1rem;
	cursor: context-menu;
}

h2 {
	font-family: 'PlaywriteNGModern', sans-serif;
	font-weight: 400; // Regular weight
	letter-spacing: 0.001em;
	line-height: 1.625;
	padding-bottom: 1rem;
	cursor: context-menu;
}

h3 {
	font-family: 'PlaywriteNGModern', sans-serif;
	font-weight: 300; // Regular weight
	letter-spacing: 0.001em;
	line-height: 1.625;
	padding-bottom: 1rem;
	cursor: context-menu;
}

p {
	font-family: 'NanumGothic', sans-serif;
	font-weight: 400; // Regular weight
	letter-spacing: 0.01em;
}



// Responsive sizes



@media (max-width: 900px) {
	main {
		max-width: calc(100% - 2em);
		padding: 3rem 1rem 3rem 1rem;
	}

	h1 {
		font-size: 1.7rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 0.6rem;
	}

	p {
		font-size: 1rem;
	}
}


@media (min-width: 900px) {

	main {
		padding: 5rem 4rem 5rem 4rem;
		max-width: calc(100% - 7em);
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 0.8rem;
	}

	p {
		font-size: 1.3rem;
	}

}

@media (min-width: 1200px) {

	main {
		padding: 7rem 10rem 7rem 10rem;
		max-width: calc(100% - 7em);
	}
}

// Animations

@keyframes slideRight {
	from {
		transform: translateX(9rem);
	}

	to {
		transform: translateX(0rem);
	}
}

@keyframes rotate {

	0%,
	100% {
		transform: translateX(-0.3rem);
	}

	50% {
		transform: translateX(0rem);
	}
}

.slideRight {
	animation: slideRight 2s ease-out 1s;
}

.animate-rotate {
	animation: rotate 1s ease-out 2s infinite;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}