---
import BaseHead from "../components/BaseHead.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/BlogPost.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
      <Card size="w-[500px]" />
      <div class="text-slate-100">
        <p class="text-4xl mb-4">Hallo ich bin die Ulli,</p>
        <p>
          ich bin schon seit Jahren M채rchenerz채hlerin und habe meine Ausbildung
          in ... gemacht. Egal ob Kindern oder Senioren, es gibt immer ein
          M채rchen das uns in unser jetzigen Situation ber체hrt und zum Nachdenken
          bringt.
        </p>
      </div>
    <Footer /></body
  >
</html>
