---
import Card from "../components/Card.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <div class="sm:flex gap-10">
      <Card />
      <div class="mt-10 sm:mt-0">
        <h1>Hallo ich bin die Ulli,</h1>
        <p>
          aus Meersburg am Bodensee erzähle ich seit 2001 Märchen, Sagen und
          Geschichten für Jung und Alt. Schon als Erzieherin machte ich früh die
          Erfahrung dass, durch das freie erzählen eine ganz besondere
          Verbindung zwischen Erzähler und Zuhörer entsteht. Diese Erfahrung
          bewegte mich dazu die Kunst der Erzählung weiter vertiefen und zu
          ergründen.
        </p>
      </div>
    </div>
    <div class="mt-16 flex flex-col mb-10 gap-7">
      <p>
        Mit der Ausbildung zur Märchenerzählerin, welche ich 2001 in der Schweiz
        abschloss und den darauf folgenden Weiterbildungen lasse ich als
        freischaffende Erzählerin auf Veranstaltungen aller Art, in Schulen und
        Kindergärten sowie Festivals, Bilder in den Köpfen der Zuhörer
        entstehen.
      </p>
      <p>
        Seit 2001 erzähle ich mit Leidenschaft und Hingabe Geschichten über Mut,
        Liebe, List und Glück oft begleitet von Musikern und Klängen. In
        Workshops und Kursen vermittel ich meinen Erfahrungsschatz und da
        Märchen Brücken bauen können engagiere ich mich mit meiner Kunst an
        sozialen Projekten.
      </p>
    </div>
  </main>
</BaseLayout>
