---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div
			class="h-screen bg-gradient-to-t from-lime-950 to-lime-900 flex justify-center items-center"
		>
			<div class="relative title text-slate-200 text-5xl md:text-8xl">
				Märchen sind ...
				<div class="top-9 absolute roller text-slate-100">
					<span id="rolltext"
						>Inspiration<br />
						 Fantasie<br />
						 Bildung<br />
						 Bewätigung<br />
					</span>
				</div>
			</div>
		</div>
		<div class="w-full flex justify-center p-20">
			<Card />
		</div>

		<Footer />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

			.title {
				font-family: "Prata", serif;

				> .title-inner {
					display: inline-block;
				}
			}

			.roller {
				height: 9rem;
				line-height: 8rem;
				position: relative;
				overflow: hidden;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			#spare-time {
				font-size: 1rem;
				font-style: italic;
				letter-spacing: 3rem;
				margin-top: 0;
			}

			.roller #rolltext {
				position: absolute;
				top: 0;
				animation: slide 20s infinite;
			}

			@keyframes slide {
				0% {
					top: 0;
				}
				25% {
					top: -8rem;
				}
				50% {
					top: -16rem;
				}
				72.5% {
					top: -25.25rem;
				}
			}

			#spare-time {
				font-size: 1rem;
				letter-spacing: 0.1rem;
			}

			.roller #rolltext {
				animation: slide-mob 20s infinite;
			}

			@keyframes slide-mob {
				0% {
					top: 0;
				}
				25% {
					top: -8rem;
				}
				50% {
					top: -16rem;
				}
				72.5% {
					top: -24rem;
				}
			}
		</style>
	</body>
</html>
