---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.scss";

// assets
import Img1 from "../../public/bilder/artem-sapegin-XGDBdSQ70O0-unsplash.jpg";
import Img2 from "../../public/bilder/andrew-morris-1EdBFojwgL8-unsplash.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<div class="h-dvh flex justify-center items-center">
			<div
				class="relative title text-slate-200 text-4xl sm:text-5xl lg:text-7xl p-7 md-p-20 tracking-wide"
			>
				„Ein Guter Erzähler ist der, der die Ohren der Menschen in Augen
				verwandelt.“ <span>- arabisches Sprichwort</span>
			</div>
		</div>
	</main>

	<div
		class="bg-repeat h-4 w-full"
		style="background-image: url(public/pattern-light.svg)"
	>
	</div>
	<main>
		<h1 class="flex justify-center my-20">
			Erzählen ist eine uralte Kunstform ...
		</h1>
		<div class="flex md:flex-row-reverse w-full flex-col mb-6 gap-5">
			<img
				src={Img1.src}
				alt=""
				class="rounded-md md:w-2/5 md:mr-20 object-cover shadow-md shadow-black"
			/>
			<p class="flex md:w-3/5 justify-center">
				...welche uns seit jeher in den Bann zieht. Es braucht nicht
				viel um Bilder im Kopf entstehen lassen, ein guter Erzähler,
				eine Geschichte und Zuhörer mit offenen Ohren.
			</p>
		</div>
		<div class="flex md:flex-row gap-5 w-full flex-col">
			<img
				src={Img2.src}
				alt=""
				class="md:w-2/5 rounded-md object-cover shadow-md shadow-black"
			/>
			<p class="flex md:w-3/5 justify-center">
				Durch das pure und freie erzählen, erhalten Märchen, Sagen und
				Geschichten ihre Seele, dabei entstehen ganz besondere und
				intensive Momente. Es sind genau diese Momente die mich als
				Erzählerin seit Jahren fesseln und begeistern.
			</p>
		</div>

		<div class="w-2/5 flex justify-center p-20">
			<Card />
		</div>
	</main>
</BaseLayout>

<style>
	span {
		font-size: 0.8rem !important;
	}

	.roller {
		height: 9rem;
		line-height: 8rem;
		position: relative;
		overflow: hidden;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#spare-time {
		font-size: 1rem;
		font-style: italic;
		letter-spacing: 3rem;
		margin-top: 0;
	}

	.roller #rolltext {
		position: absolute;
		top: 0;
		animation: slide 20s infinite;
	}

	@keyframes slide {
		0% {
			top: 0;
		}
		25% {
			top: -8rem;
		}
		50% {
			top: -16rem;
		}
		72.5% {
			top: -25.25rem;
		}
	}

	#spare-time {
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}

	.roller #rolltext {
		animation: slide-mob 20s infinite;
	}

	@keyframes slide-mob {
		0% {
			top: 0;
		}
		25% {
			top: -8rem;
		}
		50% {
			top: -16rem;
		}
		72.5% {
			top: -24rem;
		}
	}
</style>
