---
import Card from "../components/Card.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
        <div class="sm:flex gap-10">Super!</div>
    </main>
</BaseLayout>
