---
import Calender from "../../public/calender.svg";
import Map from "../../public/map.svg";
import Clock from "../../public/clock.svg";

interface Props {
    text: string;
    link?: string;
    icon?: "cal" | "map" | "clock";
}

const icons = {
    cal: Calender.src,
    map: Map.src,
    clock: Clock.src,
};

const { text, link, icon } = Astro.props;
---

<a href={link ? link : ""}>
    <div class="flex p-2 gap-2 items-center bg-glaucous rounded-md">
        {icon && <img src={icon ? icons[icon] : ""} alt="" />}
        {text}
    </div>
</a>
