---

---

<a href="/about">
    <div transition:name="ulli" class="card w-1/3 col-span-3 rounded-md">
        <img
            src="../../public/profile.jpeg"
            class="w-full object-cover rounded-t-md"
        />
        <div class="bg-slate-100 p-3 rounded-b-md flex flex-col items-center">
            <p class="font-semibold">Ulli Brugger</p>
            <p class="font-medium">Märchenerzählerin</p>
        </div>
    </div></a
>
