---
const today = new Date();
import Pattern from "../../public/pattern.svg";
---

<footer>
	&copy; {today.getFullYear()} Ulrike Brugger. All rights reserved.
	<div
		class="bg-repeat h-4 w-full absolute bottom-0"
		style={{
			backgroundImage: `url(${Pattern.src})`,
		}}
	>
	</div>
</footer>
