---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Ulrike Brugger. All rights reserved.
	<div
		class="bg-repeat h-4 w-full absolute bottom-0"
		style="background-image: url(../../public/pattern.svg)"
	>
	</div>
</footer>
