---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<a href="/"><img src="/logo.png" class="h-10 rounded-md shrink-0" /></a>
		<div class="flex w-full justify-center abslotue p-4">
			<div class="internal-links hidden md:flex">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Veranstaltungen</HeaderLink>
				<HeaderLink href="/about">Über mich</HeaderLink>
				<HeaderLink href="/buchen">Buchen</HeaderLink>
			</div>
			<button class="block md:hidden ml-auto" id="burger-button">
				<svg
					class="w-6 h-6"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M4 6h16M4 12h16m-7 6h7"></path>
				</svg>
			</button>
			<div
				class="mobile-menu z-50 hidden absolute top-full right-0 w-full bg-white md:hidden"
				id="mobile-menu"
			>
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Veranstaltungen</HeaderLink>
				<HeaderLink href="/about">Über mich</HeaderLink>
				<HeaderLink href="/buchen">Buchen</HeaderLink>
			</div>
		</div>
	</nav>
	<div class="h-2"></div>
	<div
		class="bg-repeat h-4 w-full absolute bottom-0 left-0"
		style="background-image: url(public/pattern.svg)"
	>
	</div>
</header>
<style>
	.internal-links a {
		padding: 1rem;
		text-decoration: none;
	}

	.mobile-menu a {
		display: block;
		padding: 1rem;
		text-decoration: none;
		border-bottom: 1px solid #ddd;
	}

	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
		flex-shrink: 0;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: $hunter-green;
	}
</style>

<script>
	document
		.getElementById("burger-button")!
		.addEventListener("click", function () {
			var menu = document.getElementById("mobile-menu")!;
			menu.classList.toggle("hidden");
		});
</script>
