---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.scss";

interface Props {
    title: string;
    description: string;
    image?: string;
}

const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props;
---

<!doctype html>
<html lang="de">
    <head>
        <BaseHead title={title} description={description} image={image} />
        <!-- MailerLite Universal -->
        <script>
            declare function ml(...args: any[]): any;
            (function (
                w?: any,
                d?: any,
                e?: any,
                u?: any,
                f?: any,
                l?: any,
                n?: any,
            ) {
                (w[f] =
                    w[f] ||
                    function () {
                        (w[f].q = w[f].q || []).push(arguments);
                    }),
                    (l = d.createElement(e)),
                    (l.async = 1),
                    (l.src = u),
                    (n = d.getElementsByTagName(e)[0]),
                    n.parentNode.insertBefore(l, n);
            })(
                window,
                document,
                "script",
                "https://assets.mailerlite.com/js/universal.js",
                "ml",
            );
            ml("account", "1038652");
        </script>
        <!-- End MailerLite Universal -->
    </head>
    <body>
        <Header />
        <div class="min-h-screen">
            <slot />
        </div>
        <Footer /></body
    >
</html>
